
<%= div_for comment do %>

  <span class="dateandoptions" >
    <small>  <%=time_ago_in_words(comment.created_at)%> ago </small><br />

  <% @temp = (User.where(:extra2 => comment.user_id)).first %>
  <!-- profile pic -->
  <% @profile_pic = @temp.extra1 %>

    <!-- Delete link -->

    <!-- Admins have special privilages to delete messages Rajesh , Vignesh -->

  <% if (comment.user_id) == @user.id || @user.id == "694081777" || @user.id == "1131990070" %>
  <%= link_to 'Delete', comment_path(comment), :method => :delete, :class => "delete", :remote => true  %>

<% end %>
    <!-- End of Delete link -->
  </span>
 <!-- Profilepic-->
	<a href="http://wwww.facebook.com/profile.php?id=<%=comment.user_id%>" target="_blank" > <img src= <%=@temp.extra1%>> </img> </a> 
  <!-- End of profile pic -->
<b><a href="http://wwww.facebook.com/profile.php?id=<%=comment.user_id%>" target="_blank" style="text-decoration:none;" ><%= @temp.name %> </a>: </b>
  <%= content_tag(:p, comment.content, :class => "comment-body") %>
<% end %>
