<head>
  <script type="text/javascript">
    window.onload = function() {
      //delay_update();
    }
  </script>

</head>

<!-- number of comments
<span id="comments_count"><%= pluralize(@comments.count, "Comment") %></span>
-->
<!--
<iframe id='upload_frame' name="upload_frame" >
  <p>Your browser does not support iframes.</p>
</iframe>
-->

<div id="comments" class="chatbox" style="max-height:300px;overflow:auto;">
  <%= render :partial => @comments, :locals => { :list => true } %>
</div>

<div id="panditoftheday">

</div>

<!-- Widget starts here -->
<!-- No commentry but fast 
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('0f63beb3-c61b-496d-95f5-5781082b8e6f');</script><noscript>Get the <a href="http://www.widgetbox.com/widget/live-cricket-scores-espn-star-sports">Live Cricket Scores</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://docs.widgetbox.com/using-widgets/installing-widgets/why-cant-i-see-my-widget/">More info</a>)</noscript>
-->
<!-- Damn slow did not even load 
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('a397d63f-1f6d-4ade-8038-e8f4d3a12f4e');</script><noscript>Get the <a href="http://www.widgetbox.com/widget/crickternews-livescorecard-widget">Cricket Live Score Widget from CricketerNews.com</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://docs.widgetbox.com/using-widgets/installing-widgets/why-cant-i-see-my-widget/">More info</a>)</noscript>
-->
<!-- No commentry but fast and bigger -->
<!--
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('24ab7637-b67b-4b95-9a10-320ab485678b');</script><noscript>Get the <a href="http://www.widgetbox.com/widget/cricket-espn-star-sports">Cricket</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://docs.widgetbox.com/using-widgets/installing-widgets/why-cant-i-see-my-widget/">More info</a>)</noscript>
-->
<!-- Widget ends here -->
<div id="comment-notice"></div>


<%= form_for Comment.new , :remote => true  do |f| %>
  <%= f.hidden_field(:user_id, :value => @user.id )  %>
  <%= f.label :content, "Comment" %><br />
  <%= f.text_area :content, :rows => 2 , :class => "chatbox"%><br />
  <%= f.submit "Add comment" %>
<% end %>

<span id="update_form">
  <% form_for Comment.new , :remote => true , :url => { :action => "update" } do |f| %>
    <%= f.hidden_field(:last_time , :value => @last_comment_time) %>
    <%= f.submit "update chats" , :id => "comment_update" %>
  <% end %>
</span>


<span id="more form">
  <% form_for Comment.new , :remote => true , :url => { :action => "more" } do |f| %>


    <%= f.hidden_field(:first_time , :value => @first_comment_time) %>


    <%= f.submit "more chats" , :id => "more_chats" %>
  <% end %>
</span>