<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% if !(@last_comment_time.nil?)  %>
$("#update_form").html('<%= form_for Comment.new , :remote => true , :url => { :action => "update" } do |f| %> <%= f.hidden_field(:time , :value => @last_comment_time) %><%= f.submit "update chats" , :id => "comment_update" %> <% end %>') ;
$("#comment-notice").html('<div class="flash notice"><%= escape_javascript(@last_comment_time) %></div>');
<% end %>


<%  @comments.each  do |@comment| %>


/* Replace the count of comments */
$("#comments_count").html("<%= pluralize(Comment.count, 'Comment') %>");

/* Add the new comment to the bottom of the comments list */

<% unless @comment.nil? %>
$("#comments").append("<%= escape_javascript(render(@comment))  %>");

/* Highlight the new comment */
$("#comment_<%= @comment.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_comment")[0].reset();
<% end %>

<% end %>

