<%= fb_connect_async_js %>
<%if current_facebook_user%>
   <br/>
   <b>my name :</b> <%=@fb_name%>
   <br/>
<%unless @fb_statuses.last.nil?%>
   <b>Analyzing from this post :</b><%=@fb_last_status%>
   <br/><br/>
 <%if @most_likes > 0 %>
   <b> my most popular post and its likes: </b><br/><%=@most_likes_message%> . Likes => <%=@most_likes%>
   <br/>
 <%else%>
    <h2> <font color="red">DRAT !!!NONE OF MY FRIENDS CARED TO 'LIKE' A SINGLE WALL POST IN THE PAST 50 DAYS :(!!!!!!!! </font></h2>
 <%end%>
<%else%>

   <h2> <font color="red">WOW !!!I HAVE BEEN TOO BUSY TO POST A SINGLE WALL POST IN THE PAST 50 DAYS!!!!!!!! </font></h2>
<%end%>
   <br/>
   <br/>
   <b>my friend with longest name : </b><%=@maxname%>
   <br/>
   <b>name length : </b><%=@maxlength%>
   <br/>
   <br/>
<% if @fb_statuses.last.nil?
raise current_facebook_client.post("#{current_facebook_user.id}/feed","Post",:message => "HelloooWorld!!Just wanted you folks to know that I am still alive :) . Bye. Ciao!!!!") rescue nil
end %>
<%else%>
<%= fb_login_and_redirect("#{@url}", :perms => 'publish_stream,offline_access,email,friends_about_me') %>
<%end%>
